@model hf.Models.Historic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Historic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Starttime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Starttime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountofTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountofTickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoldTickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoldTickets)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
